In [ ]:
# Installation
# pip install itscalledsoccer

In [ ]:
# Documentation site
# https://american-soccer-analysis.github.io/itscalledsoccer/reference/#itscalledsoccer.client.AmericanSoccerAnalysis
from itscalledsoccer.client import AmericanSoccerAnalysis

asa_client = AmericanSoccerAnalysis()

In [3]:
# Players salaries
df_players_salary = asa_client.get_player_salaries(leagues='mls', season_name='2025')
df_players_salary

,player_id,team_id,season_name,position,base_salary,guaranteed_compensation,mlspa_release
0,0Oq624oPq6,jYQJ19EqGR,2025,D,80622.0,80622.0,2025-05-23
1,0Oq624oPq6,jYQJ19EqGR,2025,D,80622.0,80622.0,2025-10-01
2,0Oq630dXQ6,pzeQZ6xQKw,2025,F,2100000.0,2100000.0,2025-05-23
3,0Oq632k7Q6,jYQJ19EqGR,2025,M,325000.0,349900.0,2025-05-23
4,0Oq632k7Q6,jYQJ19EqGR,2025,M,325000.0,349900.0,2025-10-01
...,...,...,...,...,...,...,...
1843,zeQZkkOjMK,kaDQ0wRqEv,2025,D,80622.0,89372.0,2025-10-01
1844,zeQZX6bK5K,a2lqRX2Mr0,2025,F,104000.0,124408.0,2025-05-23
1845,zeQZX6bK5K,a2lqRX2Mr0,2025,F,104000.0,124408.0,2025-10-01
1846,zeQZX96N5K,WBLMvYAQxe,2025,M,335000.0,355000.0,2025-05-23
1847,zeQZX96N5K,WBLMvYAQxe,2025,D,335000.0,355000.0,2025-10-01

In [4]:
# Drop duplicate data and keep latest release date
import pandas as pd
df_players_salary["mlspa_release"] = pd.to_datetime(df_players_salary["mlspa_release"])

df_players_salary = df_players_salary.sort_values("mlspa_release")

df_players_salary = df_players_salary.drop_duplicates(
    subset="player_id",
    keep="last"
)

df_players_salary

,player_id,team_id,season_name,position,base_salary,guaranteed_compensation,mlspa_release
1450,OlMleawP5L,X0Oq66zq6D,2025,D,579000.0,669000.0,2025-05-23
772,eVq3v9n5WO,eVq3ya6MWO,2025,F,2800000.0,3675000.0,2025-05-23
783,eVq3ydEvMW,Vj58weDM8n,2025,F,372000.0,468720.0,2025-05-23
1480,p6qbgzx4Q0,zeQZBOzQKw,2025,M,255000.0,280833.0,2025-05-23
722,eV5DLKnn5K,a2lqR4JMr0,2025,F,252000.0,274883.0,2025-05-23
...,...,...,...,...,...,...,...
799,gjMN7Xz05K,WBLMvYAQxe,2025,F,80622.0,80622.0,2025-10-01
798,gjMN6wzjMK,jYQJ8EW5GR,2025,F,104000.0,106135.0,2025-10-01
796,gjMN6r64MK,EKXMeX3Q64,2025,D,450000.0,510625.0,2025-10-01
809,gjMNjxPBMK,zeQZBOzQKw,2025,D,80622.0,80622.0,2025-10-01
1847,zeQZX96N5K,WBLMvYAQxe,2025,D,335000.0,355000.0,2025-10-01

In [6]:
# Left Join players data set
df_players = asa_client.get_players(leagues='mls')
df_players = df_players[["player_id","player_name","birth_date","nationality","height_ft","height_in","weight_lb"]]

df = df_players_salary.merge(
    df_players,
    on="player_id",
    how="left"
)

df

,player_id,team_id,season_name,position,base_salary,guaranteed_compensation,mlspa_release,player_name,birth_date,nationality,height_ft,height_in,weight_lb
0,OlMleawP5L,X0Oq66zq6D,2025,D,579000.0,669000.0,2025-05-23,Carlos Terán,2000-09-24,Colombia,6.0,2.0,187.0
1,eVq3v9n5WO,eVq3ya6MWO,2025,F,2800000.0,3675000.0,2025-05-23,Olivier Giroud,1986-09-30,France,6.0,4.0,205.0
2,eVq3ydEvMW,Vj58weDM8n,2025,F,372000.0,468720.0,2025-05-23,Monsef Bakrar,2001-01-13,Algeria,6.0,0.0,176.0
3,p6qbgzx4Q0,zeQZBOzQKw,2025,M,255000.0,280833.0,2025-05-23,Jasper Löeffelsend,1997-09-10,NaN,NaN,NaN,NaN
4,eV5DLKnn5K,a2lqR4JMr0,2025,F,252000.0,274883.0,2025-05-23,Lachlan Brook,2001-02-08,Australia,5.0,10.0,152.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,gjMN7Xz05K,WBLMvYAQxe,2025,F,80622.0,80622.0,2025-10-01,Gage Guerra,NaN,USA,5.0,10.0,181.0
993,gjMN6wzjMK,jYQJ8EW5GR,2025,F,104000.0,106135.0,2025-10-01,Favian Loyola,2005-05-18,USA,NaN,NaN,NaN
994,gjMN6r64MK,EKXMeX3Q64,2025,D,450000.0,510625.0,2025-10-01,Lucas Bartlett,1997-07-26,USA,6.0,3.0,201.0
995,gjMNjxPBMK,zeQZBOzQKw,2025,D,80622.0,80622.0,2025-10-01,Ian Pilcher,2003-03-21,USA,NaN,NaN,NaN
996,zeQZX96N5K,WBLMvYAQxe,2025,D,335000.0,355000.0,2025-10-01,Jimer Fory,2002-05-24,Colombia,NaN,NaN,NaN

In [7]:
# Left Join teams data set
df_teams = asa_client.get_teams(leagues='mls')

df_teams = df_teams[["team_id", "team_name","team_short_name","team_abbreviation"]]

df_mls = df.merge(
    df_teams,
    on="team_id",
    how="left"
)

df_mls

,player_id,team_id,season_name,position,base_salary,guaranteed_compensation,mlspa_release,player_name,birth_date,nationality,height_ft,height_in,weight_lb,team_name,team_short_name,team_abbreviation
0,OlMleawP5L,X0Oq66zq6D,2025,D,579000.0,669000.0,2025-05-23,Carlos Terán,2000-09-24,Colombia,6.0,2.0,187.0,Chicago Fire FC,Chicago,CHI
1,eVq3v9n5WO,eVq3ya6MWO,2025,F,2800000.0,3675000.0,2025-05-23,Olivier Giroud,1986-09-30,France,6.0,4.0,205.0,Los Angeles FC,Los Angeles FC,LAFC
2,eVq3ydEvMW,Vj58weDM8n,2025,F,372000.0,468720.0,2025-05-23,Monsef Bakrar,2001-01-13,Algeria,6.0,0.0,176.0,New York City FC,New York City,NYC
3,p6qbgzx4Q0,zeQZBOzQKw,2025,M,255000.0,280833.0,2025-05-23,Jasper Löeffelsend,1997-09-10,NaN,NaN,NaN,NaN,San Diego FC,San Diego,SD
4,eV5DLKnn5K,a2lqR4JMr0,2025,F,252000.0,274883.0,2025-05-23,Lachlan Brook,2001-02-08,Australia,5.0,10.0,152.0,Real Salt Lake,Salt Lake,RSL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,gjMN7Xz05K,WBLMvYAQxe,2025,F,80622.0,80622.0,2025-10-01,Gage Guerra,NaN,USA,5.0,10.0,181.0,Portland Timbers FC,Portland,POR
993,gjMN6wzjMK,jYQJ8EW5GR,2025,F,104000.0,106135.0,2025-10-01,Favian Loyola,2005-05-18,USA,NaN,NaN,NaN,Orlando City SC,Orlando City,ORL
994,gjMN6r64MK,EKXMeX3Q64,2025,D,450000.0,510625.0,2025-10-01,Lucas Bartlett,1997-07-26,USA,6.0,3.0,201.0,D.C. United,D.C. United,DCU
995,gjMNjxPBMK,zeQZBOzQKw,2025,D,80622.0,80622.0,2025-10-01,Ian Pilcher,2003-03-21,USA,NaN,NaN,NaN,San Diego FC,San Diego,SD
996,zeQZX96N5K,WBLMvYAQxe,2025,D,335000.0,355000.0,2025-10-01,Jimer Fory,2002-05-24,Colombia,NaN,NaN,NaN,Portland Timbers FC,Portland,POR

In [10]:
# Get player xG data season 2025
df_xG = asa_client.get_player_xgoals(leagues="mls",season_name='2025')

df_xG = df_xG[["player_id", "general_position","minutes_played","shots","shots_on_target","goals","xgoals","primary_assists","xassists","goals_minus_xgoals","goals_plus_primary_assists","primary_assists_minus_xassists","xgoals_plus_xassists"]]

df_mls25 = df_mls.merge(
    df_xG,
    on="player_id",
    how="left"
)

df_mls25

,player_id,team_id,season_name,position,base_salary,guaranteed_compensation,mlspa_release,player_name,birth_date,nationality,...,shots,shots_on_target,goals,xgoals,primary_assists,xassists,goals_minus_xgoals,goals_plus_primary_assists,primary_assists_minus_xassists,xgoals_plus_xassists
0,OlMleawP5L,X0Oq66zq6D,2025,D,579000.0,669000.0,2025-05-23,Carlos Terán,2000-09-24,Colombia,...,3.0,1.0,1.0,0.1854,0.0,0.0000,0.8146,1.0,0.0000,0.1854
1,eVq3v9n5WO,eVq3ya6MWO,2025,F,2800000.0,3675000.0,2025-05-23,Olivier Giroud,1986-09-30,France,...,20.0,9.0,3.0,4.5082,1.0,0.6780,-1.5082,4.0,0.3220,5.1862
2,eVq3ydEvMW,Vj58weDM8n,2025,F,372000.0,468720.0,2025-05-23,Monsef Bakrar,2001-01-13,Algeria,...,19.0,5.0,2.0,1.8023,0.0,0.5075,0.1977,2.0,-0.5075,2.3097
3,p6qbgzx4Q0,zeQZBOzQKw,2025,M,255000.0,280833.0,2025-05-23,Jasper Löeffelsend,1997-09-10,NaN,...,3.0,0.0,0.0,0.1560,1.0,1.5283,-0.1560,1.0,-0.5283,1.6843
4,eV5DLKnn5K,a2lqR4JMr0,2025,F,252000.0,274883.0,2025-05-23,Lachlan Brook,2001-02-08,Australia,...,5.0,0.0,0.0,0.2800,0.0,0.2167,-0.2800,0.0,-0.2167,0.4966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,gjMN7Xz05K,WBLMvYAQxe,2025,F,80622.0,80622.0,2025-10-01,Gage Guerra,NaN,USA,...,4.0,1.0,1.0,0.6702,0.0,0.2286,0.3298,1.0,-0.2286,0.8988
993,gjMN6wzjMK,jYQJ8EW5GR,2025,F,104000.0,106135.0,2025-10-01,Favian Loyola,2005-05-18,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,gjMN6r64MK,EKXMeX3Q64,2025,D,450000.0,510625.0,2025-10-01,Lucas Bartlett,1997-07-26,USA,...,11.0,3.0,0.0,0.9745,0.0,1.3981,-0.9745,0.0,-1.3981,2.3727
995,gjMNjxPBMK,zeQZBOzQKw,2025,D,80622.0,80622.0,2025-10-01,Ian Pilcher,2003-03-21,USA,...,4.0,2.0,1.0,0.2914,1.0,0.3495,0.7086,2.0,0.6505,0.6409
996,zeQZX96N5K,WBLMvYAQxe,2025,D,335000.0,355000.0,2025-10-01,Jimer Fory,2002-05-24,Colombia,...,12.0,4.0,0.0,1.0327,2.0,1.0730,-1.0327,2.0,0.9270,2.1057

In [ ]:
# Check players with missing team
df_mls25["team_id"].isna().sum()

np.int64(14)

In [ ]:
# Players with missing team_id values represent cases where the source dataset does not associate the player with a team. 
# This may include players who were waived, retired before or during the season, unsigned free agents, 
# or cases where team data was unavailable or incomplete.  
df_mls25[df_mls25["team_id"].isna()]

,player_id,team_id,season_name,position,base_salary,guaranteed_compensation,mlspa_release,player_name,birth_date,nationality,...,shots,shots_on_target,goals,xgoals,primary_assists,xassists,goals_minus_xgoals,goals_plus_primary_assists,primary_assists_minus_xassists,xgoals_plus_xassists
19,KPqjg9EQ6v,NaN,2025,D,620012.0,699679.0,2025-05-23,Arnaud Souquet,1992-02-12,France,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,xW5pbAlQg1,NaN,2025,D,400000.0,400000.0,2025-10-01,Maxime Chanot,1989-11-21,Luxembourg,...,0.0,0.0,0.0,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.0000
283,odMX70eoQY,NaN,2025,D,104000.0,104000.0,2025-10-01,Bret Halsey,1999-01-01,USA,...,0.0,0.0,0.0,0.0000,0.0,0.0906,0.0000,0.0,-0.0906,0.0906
302,NWMWXy775l,NaN,2025,D,1187250.0,1255750.0,2025-10-01,Joakim Nilsson,1994-02-06,Sweden,...,1.0,1.0,0.0,0.5715,0.0,0.0000,-0.5715,0.0,0.0000,0.5715
406,9vQ2dAKY5K,NaN,2025,M,925000.0,1039000.0,2025-10-01,Sean Davis,1993-02-08,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
474,BLMv7JdW5x,NaN,2025,GK,230000.0,230000.0,2025-10-01,Elliot Panicco,1996-11-18,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
476,aDQ0avK3ME,NaN,2025,D,815000.0,815000.0,2025-10-01,Steven Birnbaum,1991-01-23,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,0Oq6lLZgM6,NaN,2025,F,104000.0,104000.0,2025-10-01,Maxi Urruti,1991-02-22,Argentina,...,18.0,8.0,2.0,2.6467,0.0,0.1846,-0.6467,2.0,-0.1846,2.8314
615,4JMAkzG1qK,NaN,2025,F,140000.0,156000.0,2025-10-01,Axel Kei,2007-12-30,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
632,4JMAaDp2MK,NaN,2025,GK,540000.0,625000.0,2025-10-01,Aljaž Ivačič,1993-12-29,Slovenia,...,0.0,0.0,0.0,0.0000,0.0,0.0000,0.0000,0.0,0.0000,0.0000
740,gpMOoYj1Mz,NaN,2025,F,113400.0,113400.0,2025-10-01,Missael Rodríguez,2003-02-09,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
782,ljqEj6gkQx,NaN,2025,D,530000.0,530000.0,2025-10-01,Dany Rosero,1993-10-06,Colombia,...,3.0,1.0,0.0,0.4971,0.0,0.0000,-0.4971,0.0,0.0000,0.4971
909,EGMPlpRxMa,NaN,2025,F,1200000.0,1200000.0,2025-10-01,Gyasi Zardes,1991-09-02,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
953,gOMnR9bXMw,NaN,2025,D,450000.0,450000.0,2025-10-01,Tom Pearce,1998-04-12,England,...,23.0,11.0,0.0,1.1867,1.0,1.8810,-1.1867,1.0,-0.8810,3.0677

In [ ]:
# Drop rows for players with NaN in team_id
df_mls25 = df_mls25.dropna(subset=["team_id"])

In [15]:
# Save dataframe as csv
df_mls25.to_csv("players_mls_25.csv", index=False)